.main{
    background-color: rgb(172, 201, 201);
    padding: 1rem;
}
.profile{
    float: right;
    
}
.complete{
    font-style: italic;
    background-color: rgb(195, 182, 166);
    padding: .5rem 1rem;
    border-radius: 10px;
}